<!-- <app-bread-crum></app-bread-crum>
<div class="container-card">
    <router-outlet></router-outlet>
</div> -->
<!-- <div class="animate__animated animate__fadeIn dock-window">
    <app-bread-crum></app-bread-crum>
-->

    <div class="dock-window">
    <app-bread-crum>
        <div class="container-card">
            
        </div>
    </app-bread-crum>
    <div>
        <router-outlet></router-outlet>
        <app-barra-navegacion></app-barra-navegacion>
    </div>
</div>

    
    <!--<div class="animate__animated animate__fadeIn dock-window">
        <div class="dock-window">
            <app-bread-crum></app-bread-crum>
            <div class="dock-window">
                <div class="container-card">
                    <router-outlet></router-outlet>
            </div>
                <app-barra-navegacion></app-barra-navegacion>
        </div>-->
    