<div class="animate__animated animate__fadeIn animate__faster">
<app-barra-cierre></app-barra-cierre>
<div style="display: flex; flex-direction: column; flex-wrap: wrap;" class="container">
    <h1>Libros</h1>
    <div class="car__v">
        <p-card *ngFor="let libro of libros">
            <ng-template pTemplate="header">
                <img class="cardIMG" src="../../../assets/Libro_enf.png"/>
                
            </ng-template>
            <span style="font-weight: bold">
                {{libro.nombre|uppercase}}
            </span>
            <p>Autor:{{libro.autor}}</p>
            <p>Editorial:{{libro.edicion}}</p>
            <p>Edición:{{libro.edicion}}</p>
            <p>Formato:{{libro.formato|uppercase}}</p>
            <p>Precio:{{libro.precio|currency:"€"}}</p>
            <p>Isbn:{{libro.isbn}}</p>
            <ng-template pTemplate="footer">
                Cantidad:{{libro.cantidad}}
            </ng-template>
        </p-card>
    </div>
</div>
<div class="position__btn__nuevoLibro">
    <button pButton
    [routerLink]="['/main/nuevo-libro']"
    label="Nuevo Libro" icon="pi pi-plus" class="p-button-success">
    </button>
</div>
</div>