.container{
    width: 100%;
    min-height: 75vh;
    background-color: aliceblue;
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
    overflow-y: scroll;
}
.card__v{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    padding: 1rem;
    cursor: pointer;
}
.position__btn__nuevoLibro{
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.cardIMG{
    width: 125px;
    height: 150px;
    object-fit: cover;
}