<div class="animate__animated animate__fadeIn animate__faster">
<app-barra-cierre></app-barra-cierre>
<div style="display: flex; flex-direction: column; flex-wrap: wrap;" class="container">
    <h1 style="padding: 1rem;">Libros</h1>
    <div class="card__v">
        <p-card class="card" *ngFor="let libro of libros" >
            <ng-template pTemplate="header">
                <img class="cardIMG" [src]="libro.URL"/>

            </ng-template>
            <span style="font-weight: bold">
                {{libro.Titulo|uppercase}}
            </span>
            <p>Autor:{{libro.Autor}}</p>
            <p>Edición:{{libro.Edicion}}</p>
            <p>Formato:{{libro.Formato|uppercase}}</p>
            <p>Precio:{{libro.Precio|currency:"€"}}</p>
            <p>Isbn:{{libro.ISBN}}</p>
            <ng-template pTemplate="footer">
                Cantidad:{{libro.Cantidad}}
            </ng-template>
        </p-card>
    </div>
</div>
<div class="position__btn__nuevoLibro">
    <button pButton
    [routerLink]="['/main/nuevo-libro']"
    label="Nuevo Libro" icon="pi pi-plus" class="p-button-success">
    </button>
</div>
</div>
